<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <h3>id:<%=characterData[0].id%></h3>
    <img src="<%=characterData[0].thumbnail.path%>/standard_xlarge.jpg" alt="<%=characterData[0].name%>">
    <h2><%=characterData[0].name%></h2>
    <p>Description:<%=characterData[0].description%></p>
    <a href="/characters/search"><button>Back to Search</button></a>
</body>
</html>